system.msg.queue.server=rabbit://192.168.151.40:5672
system.msg.queue.topic.tx=tx-topic-3
system.msg.queue.topic.bl=bl-topic-3
system.msg.queue.topic.msg=msg-topic-3
system.msg.queue.block.txsize=1000
system.msg.queue.block.maxdelay=2000

system.servers.num=4
system.server.0.pubkey=3snPdw7i7PjVKiTH2VnXZu5H8QmNaSXpnk4ei533jFpuifyjS5zzH9
system.server.1.pubkey=3snPdw7i7PajLB35tEau1kmixc6ZrjLXgxwKbkv5bHhP7nT5dhD9eX
system.server.2.pubkey=3snPdw7i7PZi6TStiyc6mzjprnNhgs2atSGNS8wPYzhbKaUWGFJt7x
system.server.3.pubkey=3snPdw7i7PifPuRX7fu3jBjsb3rJRfDe9GtbDfvFJaJ4V4hHXQfhwk
