[submodule "explorer"]
	path = explorer
	url = git@github.com:blockchain-jd-com/explorer.git
[submodule "libs/bft-smart"]
	path = libs/bft-smart
	url = git@github.com:blockchain-jd-com/bftsmart.git
[submodule "project"]
	path = project
	url = git@github.com:blockchain-jd-com/jdchain-project.git
[submodule "framework"]
	path = framework
	url = git@github.com:blockchain-jd-com/jdchain-framework.git
	branch = 1b8f848
[submodule "core"]
	path = core
	url = git@github.com:blockchain-jd-com/jdchain-core.git
[submodule "test"]
	path = test
	url = git@github.com:blockchain-jd-com/jdchain-test.git
[submodule "libs/kvdb"]
	path = libs/kvdb
	url = git@github.com:blockchain-jd-com/jdchain-kvdb.git 

[submodule "libs/binary-proto"]
	path = libs/binary-proto
	url = git@github.com:blockchain-jd-com/binary-proto.git
[submodule "libs/utils"]
	path = libs/utils
	url = git@github.com:blockchain-jd-com/utils.git
[submodule "libs/httpservice"]
	path = libs/httpservice
	url = git@github.com:blockchain-jd-com/httpservice.git
