**.classpath
**.project
**/bin/
**.class

target/

build/local.sh

*.bak
bin/
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
.DS_Store
.springBeans
.externalToolBuilders/

*.versionsBackup
.factorypath
source/**/config/currentView
source/gateway/data/
source/peer/data/
*.orig
source/peer/config/view/current.view
source/contract/contract-jar/src/main/java/com/jd/blockchain/contract/*.contract
source/contract/contract-jar/src/main/java/com/jd/blockchain/contract/contract.properties
source/contract/logs
source/contract/tmp
source/contract/contract-model/src/main/resources/contractCoreLib/
*.db
*.log
source/test/test-integration/txs
contract-libs/coreLib/contract-model-0.6.0-SNAPSHOT.jar
contract-libs/coreLib/crypto-framework-0.6.0-SNAPSHOT.jar
contract-libs/coreLib/ledger-model-0.6.0-SNAPSHOT.jar
contract-libs/coreLib/sdk-base-0.6.0-SNAPSHOT.jar
contract-libs/coreLib/utils-common-1.6.1-SNAPSHOT.jar
source/tools/tools-initializer/bftsmart.config
test/test-integration/runtime/
