#security.roles=DEFAULT, ADMIN, MANAGER, GUEST

security.role.DEFAULT.ledger-privileges=REGISTER_USER, REGISTER_DATA_ACCOUNT

security.role.DEFAULT.tx-privileges=DIRECT_OPERATION, CONTRACT_OPERATION

security.role.ADMIN.ledger-privileges=CONFIGURE_ROLES, AUTHORIZE_USER_ROLES, SET_CONSENSUS, SET_CRYPTO, REGISTER_PARTICIPANT, REGISTER_USER

security.role.ADMIN.tx-privileges=DIRECT_OPERATION

security.role.MANAGER.ledger-privileges=CONFIGURE_ROLES, AUTHORIZE_USER_ROLES, REGISTER_USER, REGISTER_DATA_ACCOUNT, REGISTER_CONTRACT, UPGRADE_CONTRACT, SET_USER_ATTRIBUTES, WRITE_DATA_ACCOUNT

security.role.MANAGER.tx-privileges=DIRECT_OPERATION, CONTRACT_OPERATION

security.role.GUEST.ledger-privileges=

security.role.GUEST.tx-privileges=CONTRACT_OPERATION

participant.default.roles=ADMIN, MANAGER

participant.default.roles-policy=UNION