system.server.0.network.host=127.0.0.1
system.server.0.network.port=16000
system.server.0.network.secure=false
system.server.0.raft.path=/Users/zhangshuang3/Desktop/4nodesTestnet-develop/0

system.server.1.network.host=127.0.0.1
system.server.1.network.port=16010
system.server.1.network.secure=false
system.server.1.raft.path=/Users/zhangshuang3/Desktop/4nodesTestnet-develop/1

system.server.2.network.host=127.0.0.1
system.server.2.network.port=16020
system.server.2.network.secure=false
system.server.2.raft.path=/Users/zhangshuang3/Desktop/4nodesTestnet-develop/2

system.server.3.network.host=127.0.0.1
system.server.3.network.port=16030
system.server.3.network.secure=false
system.server.3.raft.path=/Users/zhangshuang3/Desktop/4nodesTestnet-develop/3

system.server.election.timeout=1000
system.server.snapshot.interval=3600

system.server.rpc.connect.timeout=1000
system.server.rpc.default.timeout=5000
system.server.rpc.snapshot.timeout=30000
system.server.rpc.request.timeout=1000

system.raft.maxByteCountPerRpc=131072
system.raft.maxEntriesSize=1024
system.raft.maxBodySize=524288
system.raft.maxAppendBufferSize=262144
system.raft.maxElectionDelayMs=1000
system.raft.electionHeartbeatFactor=10
system.raft.applyBatch=32
system.raft.sync=true
system.raft.syncMeta=false
system.raft.disruptorBufferSize=16384
system.raft.replicatorPipeline=true
system.raft.maxReplicatorInflightMsgs=256