system.server.0.network.host=127.0.0.1
system.server.0.network.port=16000
system.server.0.network.secure=false

system.server.1.network.host=127.0.0.1
system.server.1.network.port=16010
system.server.1.network.secure=false

system.server.2.network.host=127.0.0.1
system.server.2.network.port=16020
system.server.2.network.secure=false

system.server.3.network.host=127.0.0.1
system.server.3.network.port=16030
system.server.3.network.secure=false

system.server.block.max.num=100
system.server.block.max.bytes=4194304

system.server.election.timeout=5000
system.server.snapshot.interval=1800

system.client.configuration.refresh.interval=60000

system.server.rpc.connect.timeout=10000
system.server.rpc.default.timeout=10000
system.server.rpc.snapshot.timeout=300000
system.server.rpc.request.timeout=120000

system.raft.maxByteCountPerRpc=131072
system.raft.maxEntriesSize=1024
system.raft.maxBodySize=524288
system.raft.maxAppendBufferSize=262144
system.raft.maxElectionDelayMs=1000
system.raft.electionHeartbeatFactor=5
system.raft.applyBatch=32
system.raft.sync=true
system.raft.syncMeta=false
system.raft.disruptorBufferSize=16384
system.raft.replicatorPipeline=true
system.raft.maxReplicatorInflightMsgs=256