# MQ连接地址，格式：{MQ类型}://{IP}:{PORT}
system.msg.queue.server=amqp://127.0.0.1:5672

# 当前账本交易发送队列主题（不同账本需不同主题）
system.msg.queue.topic.tx=tx

# 当前账本结块消息应答队列主题
system.msg.queue.topic.tx-result=tx-result

# 当前账本普通消息主题
system.msg.queue.topic.msg=msg

# 当前账本普通消息主题
system.msg.queue.topic.msg-result=msg-result

# 当前账本区块信息主题
system.msg.queue.topic.block=block

# 当前账本结块最大交易数
system.msg.queue.block.txsize=1000

# 当前账本结块最大时长（单位：毫秒），小于等于0时将由system.msg.queue.block.txsize决定出块频率
system.msg.queue.block.maxdelay=10

# 当前账本节点总数
system.servers.num=1

# 当前账本对应节点的公钥信息列表
system.server.0.pubkey=
