#BlockCache使用缓存大小，单位：字节
cache.capacity=1073741824

#BlockCache分片大小
cache.numShardBits=128

#BlockSize大小，单位：字节
table.blockSize=4096

#MetaDataBlockSize大小，单位：字节
table.metadata.blockSize=8192

#布隆过滤器前缀bit数量，小于0的情况下不打开布隆过滤器
table.bloom.bitsPerKey=-1

#每个MemTable使用内存大小，单位：字节
option.writeBufferSize=268435456

#MemTable的最大数量
option.maxWriteBufferNumber=7

#最小合并MemTable的数量
option.minWriteBufferNumberToMerge=2

#最大同时打开文件数量，-1表示全部打开
option.maxOpenFiles=-1

#最大后台压缩线程数
option.maxBackgroundCompactions=5

#最大后台刷盘线程数
option.maxBackgroundFlushes=4