system.msg.queue.server=nats://127.0.0.1:4222
system.msg.queue.topic.tx=tx-topic
system.msg.queue.topic.bl=bl-topic
system.msg.queue.topic.msg=msg-topic
system.msg.queue.block.txsize=1000
system.msg.queue.block.maxdelay=2000

system.servers.num=4
system.server.0.pubkey=endPsK36koyFr1D245Sa9j83vt6pZUdFBJoJRB3xAsWM6cwhRbna
system.server.1.pubkey=endPsK36sC5JdPCDPDAXUwZtS3sxEmqEhFcC4whayAsTTh8Z6eoZ
system.server.2.pubkey=endPsK36jEG281HMHeh6oSqzqLkT95DTnCM6REDURjdb2c67uR3R
system.server.3.pubkey=endPsK36nse1dck4uF19zPvAMijCV336Y3zWdgb4rQG8QoRj5ktR